body
	background-color #263238
	 
	height  100%
	> div
		height 100%
	
	.material-whiteframe-z1
		box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.66)

material-button
	font-size 140%

	.material-button-inner 
		padding 1.2em

material-toolbar
	font-size 140%

input[type=text]
	font-size 140%
	color lightgrey

pre
	background-color black
	color teal
	font-family Courier, monospace
	font-size 13px
	font-weight bold
	line-height 200%
	margin 1em
	padding 1em
	border-radius 3px
	white-space pre-line

.material-theme-blue
	background-color #0D47A1 !important
	color white

.material-theme-red
	background-color #B71C1C !important

.material-theme-green
	background-color #1B5E20 !important

.material-theme-orange
	background-color #BF360C !important
