body
	background-color #646464
material-button
	font-size 140%

	.material-button-inner 
		padding 1.2em

material-toolbar
	font-size 140%

input[type=text]
	font-size 140%
	color lightgrey

pre
	background-color black
	color rgb(7, 189, 7)
	font-family Courier, monospace
	font-weight bold
	margin 1em
	padding 1em
	border-radius 3px
