material-button
	font-size 140%

	.material-button-inner 
		padding 1.2em

material-toolbar
	font-size 140%

input[type=text]
	font-size 140%

pre
	font-family Courier, monospace
	font-weight bold
	margin 1em
	padding 1em
	border-radius 3px
	background-color lightgrey
