doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="apple-mobile-web-app-title" content="HDMI frokost")
  meta(name="theme-color" content="#263238")
  meta(name="application-name" content="HDMI frokost")
  meta(name="msapplication-TileColor" content="#263238")
  meta(name="msapplication-TileImage" content="hdmi-switch-icon-192.png")
  script(type="text/javascript", src="vendor.js")
  script(type="text/javascript", src="hello.js")
  link(rel="stylesheet", href="angular-material.min.css")
  link(rel="stylesheet", href="font-awesome.min.css")
  link(rel="stylesheet", href="hello.css")
  link(rel="apple-touch-icon", sizes="192x192", type="image/png", href="hdmi-switch-icon-192.png")
  link(rel="shortcut icon", sizes="192x192", type="image/png", href="hdmi-switch-icon-192.png")
  title HDMI SWITCHER
body(ng-app="Hello", ng-controller="HelloCtrl as hello")
  div(layout="vertical", layout-padding)
    material-content.material-whiteframe-z1
      material-list
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-blue(
                block
                ng-click="mode.switch('mac-mini')"
              )
                span mac mini
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-red(
                block
                ng-click="mode.switch('apple-tv')"
              )
                span apple-tv
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-green(
                block
                ng-click="mode.switch('x')"
              )
                span x
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-orange(
                block
                ng-click="mode.switch('chromecast')"
              )
                span chromecast
        material-item
          material-item-content
            .material-tile-content
              ig.material-input-group-theme-green
                material-input(type="text", ng-model="mode.address", block, flex)
        pre(ng-bind="messages")
