doctype html
head
  script(type="text/javascript", src="vendor.js")
  script(type="text/javascript", src="hello.js")
  link(rel="stylesheet", href="angular-material.min.css")
  link(rel="stylesheet", href="font-awesome.min.css")
  link(rel="stylesheet", href="hello.css")
  title Hello ctrl
body(ng-app="Hello", ng-controller="HelloCtrl as hello")
  div(layout="vertical", layout-padding)
    material-content.material-whiteframe-z1
      material-toolbar.material-theme-light
        h2.material-toolbar-tools
          i.fa.fa-paper-plane
          span Vælg mode
      material-list
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-red(
                block
                ng-click="mode.switch('imac')"
              )
                span imac
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-green(
                block
                ng-click="mode.switch('apple-tv')"
              )
                span apple-tv
        material-item
          material-item-content
            .material-tile-content
              material-button.material-button-raised.material-theme-yellow(
                block
                ng-click="mode.switch('chromecast')"
              )
                span chromecast
        material-item
          material-item-content
            .material-tile-content
              ig.material-input-group-theme-green
                material-input(type="text", ng-model="mode.address", block, flex)
        pre(ng-bind="messages")
